.main-header {
  background-color: #F5F5F5;
}

.brand {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  width: 221px;
  height: 54px;
  text-indent: -9999px;
  display: block;
  position: relative;
}
