.main-header {
  background-color: #F5F5F5;
}

.brand-home {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  width: 221px;
  height: 54px;
  text-indent: -9999px;
  display: block;
  position: relative;
}

.breadcrumbs {
  background-color: #D9D9D9;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #868686;

  p {
    margin-bottom: 0;
    margin-left: 10px;

    a {
      color: #868686;
      text-decoration: none;
    }
  }

  .last {
    font-weight: 700;
  }
}
